/* Footer */

.footer {
  background-color: #172337;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px 10px 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  max-width: 1200px;
  margin: auto;
}

.footer-column h4 {
  font-size: 13px;
  margin-bottom: 6px;
  color: #878787;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  list-style: none;
  margin: 4px 0;
  font-size: 13px; /* Reduced from 14px or 16px */
  color: #ccc;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.contact-info p {
  font-size: 12px;
  line-height: 1.4;
  color: #ccc;
  margin: 0;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #444;
  font-size: 12px;
  color: #aaa;
  margin-top: 10px;
}
