<app-navbar></app-navbar>
<br>
<div class="full-banner">
  <!-- <img src="https://rukminim2.flixcart.com/fk-p-flap/844/140/image/4987804ea4564482.jpg?q=50" alt="Banner" /> -->
   <img src="https://rukminim2.flixcart.com/fk-p-flap/3376/560/image/669fe9f5f9003aa2.jpg?q=50" alt="Banner">
</div>
<div class="banner">
  <img class="_4qMbau CwNMnK" alt="a" src="https://rukminim2.flixcart.com/fk-p-flap/2000/2000/image/46ec5fcabb183587.jpg?q=50" data-tkid="M_65bcf304-d2f6-4f79-8cfd-6e9f0165c93d_7.P2654ZTLVBQ8">
</div>
<div class="upcomming">
  <img class="_4qMbau CwNMnK" alt="a" srcset="https://rukminim2.flixcart.com/fk-p-flap/3376/560/image/6bf631cfe0d3a5fe.jpg?q=50 2x, https://rukminim2.flixcart.com/fk-p-flap/1688/280/image/6bf631cfe0d3a5fe.jpg?q=50 1x" src="https://rukminim2.flixcart.com/fk-p-flap/1688/280/image/6bf631cfe0d3a5fe.jpg?q=50" data-tkid="M_65bcf304-d2f6-4f79-8cfd-6e9f0165c93d_8.Y6C5OOBNEA7U">
</div>

<!-- <div class="banner">
  <img src="/assets/mobiles/sale.png" alt="Banner" />
</div> -->
<div class="mobile-grid">
    <img src="/assets/mobiles/iphone.png" alt="Mobile 1" (click)="selectBrand('iPhone')">
    <img src="/assets/mobiles/vivo.png"alt="Mobile 2" (click)="selectBrand('Vivo')">
    <img src="/assets/mobiles/motorola.png" alt="Mobile 3" (click)="selectBrand('Motorola')">
    <img src="/assets/mobiles/realme2.png" alt="Mobile 4" (click)="selectBrand('Realme')">
    <img src="/assets/mobiles/oppo.png" alt="Mobile 5">
    <img src="/assets/mobiles/infinix.png" alt="Mobile 6">
    <img src="/assets/mobiles/samsung.png" alt="Mobile 7">
    <img src="/assets/mobiles/honor.png" alt="Mobile 8">
    <img src="/assets/mobiles/pixel.png" alt="Mobile 9">
    <img src="/assets/mobiles/poco.png" alt="Mobile 10">
    <img src="/assets/mobiles/moto.png" alt="Mobile 11">
    <img src="/assets/mobiles/infi.png" alt="Mobile 12">
  </div>

  <div class="launch">
    <img class="_4qMbau CwNMnK" alt="bnn" src="https://rukminim2.flixcart.com/fk-p-flap/2000/2000/image/dc1f5bae4509c24e.jpg?q=50" data-tkid="M_407330c5-5c2b-46cf-8ad0-2c3663c106b4_29.JLWAVK6PQPMX">
  </div>
  <div class="launchmobile">
    <img class="_4qMbau CwNMnK" alt="jjj" srcset="https://rukminim2.flixcart.com/fk-p-flap/3376/560/image/c7ec5dcf3b5b33c2.jpg?q=50 2x, https://rukminim2.flixcart.com/fk-p-flap/1688/280/image/c7ec5dcf3b5b33c2.jpg?q=50 1x" src="https://rukminim2.flixcart.com/fk-p-flap/1688/280/image/c7ec5dcf3b5b33c2.jpg?q=50" data-tkid="M_407330c5-5c2b-46cf-8ad0-2c3663c106b4_30.BZOBQFI0ARWP">
  </div>
  <!-- <div *ngIf="selectedModels.length > 0" class="brand-list">
    <h2>{{ selectedBrand | titlecase }} Models</h2>
    <div class="model-grid">
      <div *ngFor="let model of selectedModels" class="model-card">
        <img [src]="model.image" [alt]="model.name" />
        <p>{{ model.name }}</p>
      </div>
    </div>
  </div> -->