<!-- <app-employee></app-employee> -->
<!-- <app-first></app-first> -->
<!-- <app-pipe></app-pipe>
<app-directive></app-directive>
<app-eventbinding></app-eventbinding> -->
<!-- <app-login></app-login> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-insert-emp></app-insert-emp>
<app-delete-emp></app-delete-emp>
 <app-get-all-emp></app-get-all-emp>
  <app-update-emp></app-update-emp> -->
  <h1>Routing</h1>
  <ul>
    <!-- <li><a routerLink="employee">Employee</a></li> -->
    <li><a routerLink="insertemp">InsertEmployee</a></li>
    <!-- <li><a routerLink="login">Login</a></li> -->
    <li><a routerLink="update">Update</a></li>
    <li><a routerLink="delete">Delete</a></li>
    <li><a routerLink="list">EmployeList</a></li>
  </ul>
<div>
    <router-outlet></router-outlet>
</div>