<app-navbar></app-navbar>

  <!-- <div class="phone-list">
    <div class="phone-row" *ngFor="let phone of phones">
      <img [src]="phone.image" [alt]="phone.name" />
      <div class="phone-details">
        <p class="phone-name">{{ phone.name }}</p>
        <div class="description-and-price">
          <ul class="phone-description">
            <li *ngFor="let line of phone.description">{{ line }}</li>
          </ul>
  
          <div class="phone-price-info" *ngIf="phone.amount">
            <div class="price-line">
              <span class="amount">{{ phone.amount }}</span>
              <span class="off">{{ phone.off }}</span>
              <span class="roff">{{ phone.roff }}</span>
            </div>
            <p class="delivery">{{ phone.delivery }}</p>
            <img *ngIf="phone.img" [src]="phone.img" alt="offer" class="offer-img" />
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
<!-- 
  <div class="phone-list">
    <div class="phone-row" *ngFor="let phone of phones">
      <img [src]="phone.image" [alt]="phone.name" />
      <div class="phone-details">
        <p class="phone-name">{{ phone.name }}</p>
        <div class="description-and-price">
          
          <ul class="phone-description">
            <li *ngFor="let line of phone.description">{{ line }}</li>
          </ul>
  
         
          <div class="phone-price-info" *ngIf="phone.amount">
            <div class="amount-line">
              <span class="amount">{{ phone.amount }}</span>
              <img *ngIf="phone.img" [src]="phone.img" alt="offer" class="offer-img" />
            </div>
            <div class="price-meta">
              <div *ngIf="phone.off" class="off">{{ phone.off }}</div>
              <div *ngIf="phone.roff" class="roff">{{ phone.roff }}</div>
              <div *ngIf="phone.delivery" class="delivery">{{ phone.delivery }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  <div class="phone-list"> 
    <div class="phone-row" *ngFor="let phone of phones">
      <img [src]="phone.image" [alt]="phone.name" />
      
      <div class="phone-details">
        <p class="phone-name">{{ phone.name }}</p>
        
        <div class="description-and-price">
          <!-- Description -->
          <ul class="phone-description">
            <li *ngFor="let line of phone.description">{{ line }}</li>
          </ul>
  
          <!-- Price info -->
          <div class="phone-price-info" *ngIf="phone.amount">
            <div class="amount-line">
              <span class="amount">{{ phone.amount }}</span>
              <img *ngIf="phone.img" [src]="phone.img" alt="offer" class="offer-img" />
            </div>
  
            <div class="price-meta">
              <!-- Flex container to place .off and .roff side by side -->
              <div class="price-line" *ngIf="phone.off || phone.roff">
                <div *ngIf="phone.off" class="off">{{ phone.off }}</div>
                <div *ngIf="phone.roff" class="roff">{{ phone.roff }}</div>
              </div>
  
              <div *ngIf="phone.delivery" class="delivery">{{ phone.delivery }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
