<div class="container">
    <div class="row mt-4">
        <!-- two way data binding  -->
        <div class="col-6">
            <h3 class="text-center">
                Registration Form MVC
            </h3>
            <div class="form-group">
                <label for="">Enter First Name</label>
                <input type="text" [(ngModel)]="firstName" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Enter Last Name</label>
                <input type="text" [(ngModel)]="lastName" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Enter Email</label>
                <input type="text" [(ngModel)]="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Enter DOB</label>
                <input type="text" [(ngModel)]="dob" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Select City</label>
                <select [(ngModel)]="city" class="form-control">
                    <option>Indore</option>
                    <option>Bhopal</option>
                    <option>Jabalpur</option>
                </select>
            </div>
        </div>
        <div class="dol-6">
            <div class="mt-4">
                <dl>
                    <dt>FirstName</dt>
                    <Dd>{{firstName}}</Dd>
                    <dt>LastName</dt>
                    <Dd>{{lastName}}</Dd>
                    <dt>Email</dt>
                    <Dd>{{email}}</Dd>
                    <dt>DOB</dt>
                    <Dd>{{dob}}</Dd>
                    <dt>City</dt>
                    <Dd>{{city}}</Dd>
                </dl>
                {{product.id}}
            </div>
        </div>
    </div>
    <!-- view to view data binding form pe entry kreng tho form pe data show hoga -->
    <div class="row mt-4">
        <div class="col-6">
            <h3 class="text-center">
                Login Form MVVM
            </h3>
            <div class="form-group">
                <label for="">Enter UserName</label>
                <input type="text" ngModel #username="ngModel" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Enter Password</label>
                <input type="text" ngModel #password="ngModel" class="form-control">
            </div>
        </div>
        <div class="col-6">
            UserName is : {{username.value}}
            Password is : {{password.value}}
        </div>
    </div>
</div>
