<app-navbar></app-navbar>

<div class="electronics-section">
  <h2>Livingroom Furniture</h2>

  <div class="laptop-items">
    <div class="electronics-item">
     <img loading="eager" class="DByuf4" alt="Woodness Joey Foam Manual Recliners" src="https://rukminim2.flixcart.com/image/150/150/jmz7csw0/recliner/f/7/7/brown-pvc-24002-woodness-original-imaf9rzvrrav8phf.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jmz7csw0/recliner/f/7/7/brown-pvc-24002-woodness-original-imaf9rzvrrav8phf.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jmz7csw0/recliner/f/7/7/brown-pvc-24002-woodness-original-imaf9rzvrrav8phf.jpeg?q=70 1x">
      <span>Recliners</span>
      <div class="Fashion-pricing">
        <p class="original-price">From ₹11,899</p>
         <p>Fabric & Leatherette</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="@home by Nilkamal Checkers Engineered Wood Open Book Shelf" src="https://rukminim2.flixcart.com/image/150/150/jql8fbk0/book-shelf/z/7/h/particle-board-fibscheckersbs5twt-home-by-nilkamal-walnut-original-imafckhkkcn5qk7y.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jql8fbk0/book-shelf/z/7/h/particle-board-fibscheckersbs5twt-home-by-nilkamal-walnut-original-imafckhkkcn5qk7y.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jql8fbk0/book-shelf/z/7/h/particle-board-fibscheckersbs5twt-home-by-nilkamal-walnut-original-imafckhkkcn5qk7y.jpeg?q=70 1x">
      <span>Book Shelfs</span>
      <div class="Fashion-pricing">
        <p class="original-price">From ₹1,999</p>
         <p>The Attic, home & more</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="WDS &nbsp;Airsofa cum Bed PVC 3 Seater Inflatable Sofa&nbsp;&nbsp;(Color - Black) PVC 3 Seater Inflatable Sofa" src="https://rukminim2.flixcart.com/image/150/150/jevpj0w0/inflatable-sofa/p/d/g/pvc-sorange01-wds-original-imaex8j6trqmfkpt.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jevpj0w0/inflatable-sofa/p/d/g/pvc-sorange01-wds-original-imaex8j6trqmfkpt.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jevpj0w0/inflatable-sofa/p/d/g/pvc-sorange01-wds-original-imaex8j6trqmfkpt.jpeg?q=70 1x">
      <span>Inflatable Sofas</span>
      <div class="Fashion-pricing">
        <p class="original-price">From ₹1,029</p>
         <p>Furn Central, WDS & more</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="The Jaipur Living Solid Wood Bedside Table" src="https://rukminim2.flixcart.com/image/150/150/jgy0fbk0/side-table/h/9/v/mango-wood-r1811-bedside-table-the-jaipur-living-honey-brown-original-imaf52jf82qk5mhz.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jgy0fbk0/side-table/h/9/v/mango-wood-r1811-bedside-table-the-jaipur-living-honey-brown-original-imaf52jf82qk5mhz.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jgy0fbk0/side-table/h/9/v/mango-wood-r1811-bedside-table-the-jaipur-living-honey-brown-original-imaf52jf82qk5mhz.jpeg?q=70 1x">
      <span>Side Tables</span>
      <div class="Fashion-pricing">
        <p class="original-price">From ₹4,900</p>
         <p>Induscraft, TimberTaste & more</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="Spacewood Winner Engineered Wood Study Table" src="https://rukminim2.flixcart.com/image/200/200/j5jx1u80/office-study-table/w/8/p/particle-board-winner-study-table-spacewood-natural-wenge-original-imaew7tvjbzhmphg.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/400/400/j5jx1u80/office-study-table/w/8/p/particle-board-winner-study-table-spacewood-natural-wenge-original-imaew7tvjbzhmphg.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/200/200/j5jx1u80/office-study-table/w/8/p/particle-board-winner-study-table-spacewood-natural-wenge-original-imaew7tvjbzhmphg.jpeg?q=70 1x">
      <span
        >Sofas</span
      >
      <div class="Fashion-pricing">
        <p class="original-price">From ₹6,999</p>
         <p>Carlton London, Homeify & more</p>
      </div>
    </div>
    <!-- section two -->
     <br>
     <h2>Bedroom Furniture</h2>
    <div class="product-list">
      <div class="product-card">
        <img loading="eager" class="DByuf4" alt="Tarkan Foldable Wooden Laptop Desk for Bed Wood Portable Laptop Table" src="https://rukminim2.flixcart.com/image/150/150/jqv8ia80/portable-laptop-table/u/6/c/rubber-wood-foldable-wooden-laptop-desk-for-bed-walnut-black-original-imafcp5geksbptjg.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jqv8ia80/portable-laptop-table/u/6/c/rubber-wood-foldable-wooden-laptop-desk-for-bed-walnut-black-original-imafcp5geksbptjg.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jqv8ia80/portable-laptop-table/u/6/c/rubber-wood-foldable-wooden-laptop-desk-for-bed-walnut-black-original-imafcp5geksbptjg.jpeg?q=70 1x">
        <br><br>
        <span>Portable Laptop Table</span>
        <div class="Fashion-pricing">
          <p class="original-price">From ₹299</p>
          <p>Wooden, Metal & more</p>
        </div>
      </div>

      <div class="product-card">
        <img loading="eager" class="DByuf4" alt="Spacewood Original Engineered Wood Dressing Table" src="https://rukminim2.flixcart.com/image/150/150/j6nxdow0/dressing-table/5/k/h/particle-board-kosmo-dresser-liwa-in-rigato-walnut-spacewood-original-imaewszzkghuftue.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/j6nxdow0/dressing-table/5/k/h/particle-board-kosmo-dresser-liwa-in-rigato-walnut-spacewood-original-imaewszzkghuftue.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/j6nxdow0/dressing-table/5/k/h/particle-board-kosmo-dresser-liwa-in-rigato-walnut-spacewood-original-imaewszzkghuftue.jpeg?q=70 1x">
        <br><br>
        <span
          >Dressing Tables</span
        >
        <div class="Fashion-pricing">
          <p class="original-price">From ₹5,899</p>
          <p>Free Standing & Wall Hanging</p>
        </div>
      </div>

      <div class="product-card">
        <img loading="eager" class="DByuf4" alt="Okra Zen Comfy Engineered Wood King Hydraulic Bed" src="https://rukminim2.flixcart.com/image/150/150/jzd0qkw0/bed/y/g/m/king-light-grey-particle-board-zc211-okra-dark-walnut-original-imafjcy8zpbhz6cz.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jzd0qkw0/bed/y/g/m/king-light-grey-particle-board-zc211-okra-dark-walnut-original-imafjcy8zpbhz6cz.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jzd0qkw0/bed/y/g/m/king-light-grey-particle-board-zc211-okra-dark-walnut-original-imafjcy8zpbhz6cz.jpeg?q=70 1x">
        <br><br>     
        <span>King Beds</span>
        <div class="Fashion-pricing">
          <p class="original-price">From ₹7,590</p>
          <p>Okra,Royal Oak & more </p>
        </div>
      </div>

      <div class="product-card">
        <img loading="eager" class="DByuf4" alt="Perfect Homes by Flipkart Sirena TV Entertainment Unit" src="https://rukminim2.flixcart.com/image/150/150/j7f2qvk0/tv-entertainment-unit/7/f/y/particle-board-etvlwwen0052p-perfect-homes-by-flipkart-wenge-original-imaexjepxxuh9dvg.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/j7f2qvk0/tv-entertainment-unit/7/f/y/particle-board-etvlwwen0052p-perfect-homes-by-flipkart-wenge-original-imaexjepxxuh9dvg.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/j7f2qvk0/tv-entertainment-unit/7/f/y/particle-board-etvlwwen0052p-perfect-homes-by-flipkart-wenge-original-imaexjepxxuh9dvg.jpeg?q=70 1x">
        <br><br>
        <span
          >TV Entertainment Unit</span
        >
        <div class="Fashion-pricing">
          <p class="original-price">From ₹1,449</p>
          <p>Bluewud, Home Full & more</p>
        </div>
      </div>

      <div class="product-card">
        <img loading="eager" class="DByuf4" alt="HOMEFULL Aston Engineered Wood Free Standing Cabinet" src="https://rukminim2.flixcart.com/image/150/150/jcz4e4w0/cabinet-drawer/y/v/v/particle-board-aston-6d-storage-cabinet-wenge-homefull-wenge-original-imaffzffqzas3t8w.jpeg?q=70" srcset="https://rukminim2.flixcart.com/image/300/300/jcz4e4w0/cabinet-drawer/y/v/v/particle-board-aston-6d-storage-cabinet-wenge-homefull-wenge-original-imaffzffqzas3t8w.jpeg?q=70 2x, https://rukminim2.flixcart.com/image/150/150/jcz4e4w0/cabinet-drawer/y/v/v/particle-board-aston-6d-storage-cabinet-wenge-homefull-wenge-original-imaffzffqzas3t8w.jpeg?q=70 1x">
        <br><br>
        <span
          >Drawers</span
        >
        <div class="Fashion-pricing">
          <p class="original-price">From ₹1,599</p>
          <p>Perfect Homes, Home Edge & more</p>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>
</div>
