app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.category-banner {
    width: 100%;
    margin-top: 40px;
    position: relative;
  }
  
.category-banner img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
    display: block;
  }

/* .furniture {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
  }
  
  .furniture-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
    cursor: pointer;
  } */

  .product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .product-grid {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .product-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .description {
  font-size: 0.9rem;
  color:#888;
  margin-top: 8px;
  line-height: 1.4;
}

  .pricing {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin: 0.3rem 0;
}

.pricing .original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 0.85rem;
}

.pricing .discount {
  color: #d32f2f;
  font-weight: 600;
  font-size: 0.85rem;
}