<app-navbar></app-navbar>

<div class="category-banner">
<img src="https://rukminim2.flixcart.com/fk-p-flap/2000/2000/image/a59fd905ca434727.jpg?q=50" alt=""width="1530" height="400">
<img src="https://rukminim2.flixcart.com/fk-p-flap/2000/2000/image/d64806c179543799.jpg?q=50" alt=""width="1530" height="400">
</div>

<div class="container">
    <h2>Home & Kitchen Products</h2>
    <div class="product">
         <div class="product-grid">
            <img loading="eager" class="DByuf4" alt="eCraftIndia Set Of 4 Cute Little Monk Buddha Statues Decorative Showpieces Decorative Showpiece  -  6 cm" src="https://rukminim2.flixcart.com/image/612/612/xif0q/showpiece-figurine/y/j/e/3-5-3-5-msgb589-new-ecraftindia-5-original-imagtsfvesff4xrb.jpeg?q=70">
            <p>eCraftIndia Set Of 4 Cute Little Monk Buddha Statues Decorative Showpieces Decorative Showpiece  -  6 cm</p>
            <p class="description">Brown and Beigh</p>
            <p>From ₹200</p>
            <div class="pricing">
                <p class="original-price">₹399</p> 
                <p class="discount">19% off</p>
            </div>
        </div>
        <div class="product-grid">
          <img loading="eager" class="DByuf4" alt="REVEXO Rectangular Pack of 6 Table Placemat" src="https://rukminim2.flixcart.com/image/612/612/xif0q/table-placemat/a/c/s/6-pm6mahdi-revexo-original-imah9pkygg7tahjt.jpeg?q=70">
            <p>REVEXO Rectangular Pack of 6 Table Placemat</p>
            <p class="description">Brown and Beigh</p>
            <p>From ₹150</p>
            <div class="pricing">
                <p class="original-price">₹799</p>
                <p class="discount">81% off</p>
            </div>
        </div>
        
       
        <div class="product-grid">
           <img loading="eager" class="DByuf4" alt="CAPIO ART GEOMETRIC multipurpose design Wood Key Holder" src="https://rukminim2.flixcart.com/image/612/612/xif0q/shopsy-key-holder/r/w/t/4-kh07-hk-creation-original-imah2x5agegeysy3.jpeg?q=70">
            <p>CAPIO ART GEOMETRIC multipurpose design Wood Key Holder</p>
            <p class="description">8 Hooks, Brown</p>
            <p>From ₹115</p>
            <div class="pricing">
                <p class="original-price">₹999</p>
                <p class="discount">88% off</p>
            </div>
        </div>
                
        <div class="product-grid">
            <img loading="eager" class="DByuf4" alt="Ryme Set Of 8 Mini/Small Artificial Plants Bonsai Wild Artificial Plant  with Pot" src="https://rukminim2.flixcart.com/image/612/612/xif0q/artificial-plant/e/d/s/15-yes-8pots002-ryme-original-imahbu7qdhwfwjnw.jpeg?q=70">
            <p>Ryme Set Of 8 Mini/Small Artificial Plants Bonsai Wild Artificial Plant  with Pot</p>
            <p class="description">Size:15 cm, Multicolor</p>
            <p>From ₹295</p>
            <div class="pricing">
                <p class="original-price">₹599</p>
                <p class="discount">64% off</p>
            </div>
        </div>
        
        <div class="product-grid">
          <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/painting/e/7/s/30-5-sanfpnls35471-saf-original-imah3pz4nxzrkjfy.jpeg?q=70" class="DByuf4" alt="saf peacock nature theme for living room, wall decoration Digital Reprint 18 inch x 30 inch Painting">
            <p>saf Lord Buddha Crystal Embedded High Gloss Surface with Golden Frame Digital Reprint 18 inch x 12 inch Painting</p>
            <p class="description">Width:53cm Multicolour2</p>
            <p>From ₹329</p>
            <div class="pricing">
                <p class="original-price">₹399</p>
                <p class="discount">67% off</p>
            </div>
        </div>
        <div class="product-grid">
          <img loading="eager" class="DByuf4" alt="Home Delight Be Positive Decorative Wall Hanging Wood Art Decoration Item|Motivational Quotes" src="https://rukminim2.flixcart.com/image/612/612/xif0q/wall-decoration/g/r/h/be-positive-decorative-wall-hanging-wood-art-decoration-item-original-imah7n29rxthgbtg.jpeg?q=70">
            <p>Home Delight Be Positive Decorative Wall Hanging Wood Art Decoration Item|Motivational Quotes</p>
            <p class="description">26 inch X 12 inch, Beige, Brown</p>
            <p>From ₹169</p>
            <div class="pricing">
                <p class="original-price">₹800</p>
                <p class="discount">78% off</p>
            </div>
        </div>
         
        <div class="product-grid">
            <img loading="eager" class="DByuf4" alt="Flipkart SmartBuy Medium Akhand Jyoti Deepak Molded Brass, Borosilicate Glass Table Diya Set" src="https://rukminim2.flixcart.com/image/612/612/xif0q/diya/f/s/5/1-fksbad-42-flipkart-smartbuy-5-original-imah6w5ftcce6sjx.jpeg?q=70">
            <p>Flipkart SmartBuy Medium Akhand Jyoti Deepak Molded Brass, Borosilicate Glass Table Diya Set</p>
            <p class="description">Width:53cm Multicolour2</p>
            <p>From ₹281</p>
            <div class="pricing">
                <p class="original-price">₹999</p>
                <p class="discount">71% off</p>
            </div>
        </div>
        <div class="product-grid">
          <img loading="eager" class="DByuf4" alt="saf Lord Buddha Crystal Embedded High Gloss Surface with Golden Frame Digital Reprint 18 inch x 12 inch Painting" src="https://rukminim2.flixcart.com/image/612/612/xif0q/painting/f/n/l/12-1-mg-49-aartify-original-imah3wucffyyaer3.jpeg?q=70">
            <p>saf Lord Buddha Crystal Embedded High Gloss Surface with Golden Frame Digital Reprint 18 inch x 12 inch Painting</p>
            <p class="description">Width:53cm Multicolour2</p>
            <p>From ₹329</p>
            <div class="pricing">
                <p class="original-price">₹399</p>
                <p class="discount">67% off</p>
            </div>
        </div>
         <div class="product-grid">
         <img loading="eager" class="DByuf4" alt="KUBER INDUSTRIES Iron Kitchen Trolley" src="https://rukminim2.flixcart.com/image/612/612/xif0q/kitchen-trolley/k/e/f/0-2-97km32379-kuber-industries-2-original-imah7usghsanpcun.jpeg?q=70">
            <p>KUBER INDUSTRIES Iron Kitchen Trolley</p>
            <p class="description">Pre Assembled Trolley</p>
            <p>From ₹329</p>
            <div class="pricing">
                <p class="original-price">₹399</p>
                <p class="discount">67% off</p>
            </div>
        </div>
        <div class="product-grid">
         <img loading="eager" class="DByuf4" alt="DM PLUS Plastic-Stainless Steel Fruit &amp; Vegetable 4 Stand Kitchen Trolley Plastic, Steel Kitchen Trolley" src="https://rukminim2.flixcart.com/image/612/612/xif0q/container/8/8/w/1-vm-1163-vm-bond-original-imagsfqzhamdjwpc.jpeg?q=70">
            <p>saf Lord Buddha Crystal Embedded High Gloss Surface with Golden Frame Digital Reprint 18 inch x 12 inch Painting</p>
            <p class="description">Width:53cm Multicolour2</p>
            <p>From ₹329</p>
            <div class="pricing">
                <p class="original-price">₹399</p>
                <p class="discount">67% off</p>
            </div>
        </div>
        <div class="product-grid">
             <img loading="eager" class="DByuf4" alt="Crosmo Rectangular Pack of 6 Table Placemat" src="https://rukminim2.flixcart.com/image/612/612/xif0q/appliance-cover/m/2/q/fridge-mat-grisha-original-imah3xtnghjuqzts.jpeg?q=70">
            <p>Crosmo Rectangular Pack of 6 Table Placemat</p>
            <p class="description">Red Colour Rose Printed</p>
            <p>From ₹200</p>
            <div class="pricing">
                <p class="original-price">₹399</p>
                <p class="discount">19% off</p>
            </div>
        </div>
        <div class="product-grid">
         <img loading="eager" class="DByuf4" alt="Marmik 5 Layer Multipurpose Storage Rolling Cart with Wheels For Office, Home, Plastic Kitchen Trolley" src="https://rukminim2.flixcart.com/image/612/612/xif0q/kitchen-trolley/k/h/i/0-35-f-lr-brown-5l-marmik-5-original-imahbpk2gqzqbfs3.jpeg?q=70">
            <p>Marmik 5 Layer Multipurpose Storage Rolling Cart with Wheels For Office, Home, Plastic Kitchen Trolley</p>
            <p class="description">DIY(Do It YourSelf)</p>
            <p>From ₹750</p>
            <div class="pricing">
                <p class="original-price">₹1500</p>
                <p class="discount">50% off</p>
            </div>
        </div>
        <div class="product-grid">
            <img loading="eager" class="DByuf4" alt="Gopz &quot;3D Saturn Crystal Ball LED Night Lamp with Wooden Base - Home Decor &amp; Gifts&quot; Decorative Showpiece  -  8 cm" src="https://rukminim2.flixcart.com/image/612/612/xif0q/showpiece-figurine/v/a/d/7-7-3d-saturn-crystal-ball-light-led-night-lamp-with-wooden-base-original-imahby8fmmtzfjhr.jpeg?q=70">
            <p>Gopz "3D Saturn Crystal Ball LED Night Lamp with Wooden Base - Home Decor  Gifts" </p>
            <p class="description">Decorative Showpiece  -  8 cm</p>
            <p>From ₹750</p>
            <div class="pricing">
                <p class="original-price">₹1500</p>
                <p class="discount">50% off</p>
            </div>
        </div>
        <div class="product-grid">
         <img loading="eager" class="DByuf4" alt="KUBER INDUSTRIES Printed 2 Seater Table Cover" src="https://rukminim2.flixcart.com/image/612/612/xif0q/table-cover/v/i/m/exclusive-dressing-mirror-cover-mirror-cover-in-cream-cloth-net-original-imah93cbwqhchyzq.jpeg?q=70"> 
            <p>Marmik 5 Layer Multipurpose Storage Rolling Cart with Wheels For Office, Home, Plastic Kitchen Trolley</p>
            <p class="description">DIY(Do It YourSelf)</p>
            <p>From ₹750</p>
            <div class="pricing">
                <p class="original-price">₹1500</p>
                <p class="discount">50% off</p>
            </div>
        </div>
        <div class="product-grid">
            <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/showpiece-figurine/x/v/w/5-12-sg-house-of-common-17-original-imah44djgx5jhusc.jpeg?q=70" class="DByuf4" alt="Royalbox Meditating Buddha Statue For Home Decor Idol Decorative Showpiece  -  17 cm">
            <p>Royalbox Meditating Buddha Statue For Home Decor Idol Decorative Showpiece  -  17 cm</p>
            <p class="description">Colours : Polyresin, Gold</p>
            <p>From ₹750</p>
            <div class="pricing">
                <p class="original-price">₹1500</p>
                <p class="discount">50% off</p>
            </div>
        </div>
        <div class="product-grid">
           <img loading="eager" class="DByuf4" alt="saf african ladies Premium wall paintings for, living room Digital Reprint 14 inch x 24 inch Painting" src="https://rukminim2.flixcart.com/image/612/612/xif0q/painting/7/b/z/24-3-sanfs36040-saf-original-imah2rgavnz93uch.jpeg?q=70">
            <p>mahakal Crystal Glass Turtle Plated Feng Shui Tortoise Plate Vastu Yantra Decorative Showpiece </p>
            <p class="description">18 inch X 4.5 inch, Glass Article</p>
            <p>From ₹417</p>
            <div class="pricing">
                <p class="original-price">₹695</p>
                <p class="discount">40% off</p>
            </div>
        </div>
         <div class="product-grid">
             <img loading="eager" class="DByuf4" alt="SNDArt Set of 3 Buddha UV textured modern art Religious theme Wall Painting Digital Reprint 12 inch x 18 inch Painting" src="https://rukminim2.flixcart.com/image/612//612/xif0q/painting/u/k/g/18-3-jmfs-574-sndart-original-imah26m4pzry2nfm.jpeg?q=70">
            <p>saf african ladies Premium wall paintings for, living room Digital Reprint 14 inch x 24 inch Painting</p>
            <p class="description">Blue, Red, Pack of 2</p>
            <p>From ₹150</p>
            <div class="pricing">
                <p class="original-price">₹799</p>
                <p class="discount">81% off</p>
            </div>
        </div>
        <div class="product-grid">
           <img loading="eager" class="DByuf4" alt="saf Radha krishna religious for living room, wall decoration Digital Reprint 18 inch x 30 inch Painting" src="https://rukminim2.flixcart.com/image/612/612/xif0q/painting/t/l/u/30-5-f5p-3004-sndart-original-imah3ftecxehyhxa.jpeg?q=70">
            <p>saf Radha krishna religious for living room, wall decoration Digital Reprint 18 inch x 30 inch Painting</p>
            <p class="description">Width:53cm Multicolour2 paintings</p>
            <p>From ₹329</p>
            <div class="pricing">
                <p class="original-price">₹399</p>
                <p class="discount">67% off</p>
            </div>
        </div>
         <div class="product-grid">
            <img loading="eager" class="DByuf4" alt="saf flower pot paintings with frame for home decor living room decoration Digital Reprint 18 inch x 12 inch Painting" src="https://rukminim2.flixcart.com/image/612/612/xif0q/painting/e/9/i/12-3-sanfjm32427-saf-original-imah3wmfvvkhneky.jpeg?q=70">
            <p>saf flower pot paintings with frame for home decor living room decoration Digital Reprint </p>
            <p class="description">18 inch x 12 inch Painting With Frame, Pack of 3</p>
            <p>From ₹750</p>
            <div class="pricing">
                <p class="original-price">₹1500</p>
                <p class="discount">50% off</p>
            </div>
        </div>
         <div class="product-grid">
            <img loading="eager" class="DByuf4" alt="saf SET OF 4 FLORAL Digital Reprint 19 inch x 19 inch Painting" src="https://rukminim2.flixcart.com/image/612/612/xif0q/painting/f/h/x/19-4-sasd04-saf-original-imah8xkjnyzpbc2k.jpeg?q=70">
            <p>saf SET OF 4 FLORAL Digital Reprint 19 inch x 19 inch Painting</p>
            <p class="description">four square shape Paintings</p>
            <p>From ₹750</p>
            <div class="pricing">
                <p class="original-price">₹1500</p>
                <p class="discount">50% off</p>
            </div>
        </div>
   
    </div>
</div>
<app-footer></app-footer>
