app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.monitor-container {
  margin-top: 30px;
    padding: 20px;
  }
  
  .monitor-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .monitor-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .monitor-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
  
  .monitor-price {
    font-weight: bold;
    margin: 10px 0 5px 0;
  }
  
  .monitor-description {
    font-size: 14px;
    color: #555;
  }
  