<app-navbar></app-navbar>
<div class="electronics-section">
    <h2>All Products</h2>

  <div class="laptop-items">
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="Word Power Made Easy  - Word Power" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/w/c/f/-original-imah9gup4hyhbg6y.jpeg?q=70">
      <span>Word Power Made Easy  - Word Power</span>
      <p>English, Paperback, Lewis Norman</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹162</p>
        <p class="original-price">₹199</p>
        <p class="discount">18% off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="PW CBSE Question &amp; Concept Bank (QCB) Class 10 Mathematics (Std) For 2026 Exams" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/6/6/z/pw-cbse-question-concept-bank-qcb-class-10-mathematics-std-for-original-imahbgzmjyzyy2my.jpeg?q=70">
      <br><br>
      <span>PW CBSE Question & Concept Bank (QCB) Class 10 Mathemat...</span>
      <p>Paperback, PW</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹519</p>
        <p class="original-price">₹649</p>
        <p class="discount">20% off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="Jaun Elia  - Muntazir Firozabadi" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/5/p/s/jaun-elia-original-imahby67rz9ettrd.jpeg?q=70">
      <span>Jaun Elia  - Muntazir Firozabadi</span>
      <p>Hindi, Paperback, unknown</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹189</p>
        <p class="original-price">₹249</p>
        <p class="discount">24% off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="PW MR Physics Questions Solving Med Easy | 6000+ Practice Questions" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/i/7/4/pw-mr-physics-questions-solving-med-easy-6000-practice-questions-original-imahbzzftvrczzf9.jpeg?q=70">
      <br>
      <br>
      <span>PW MR Physics Questions Solving Med Easy | 6000+ Practi...</span>
      <p>Paperback, Dr. Manish Raj (MR Sir), Rupali Singh</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹411</p>
        <p class="original-price">₹549</p>
        <p class="discount">25% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="PW SSC Game Changer General Awareness PYQ 8000+ TCS MCQ For 2025 SSC Exams" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/0/n/q/pw-ssc-game-changer-general-awareness-pyq-8000-tcs-mcq-for-2025-original-imahc5bkzhyeggz8.jpeg?q=70">
      <span>PW SSC Game Changer General Awareness PYQ 8000+ TCS MCQ...</span>
      <p>Paperback, PW</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹477</p>
        <p class="original-price">₹659</p>
        <p class="discount">27% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>
    <!-- section two -->
    <div class="laptop-items">
    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="Pocket Gk Samanya Gyan - Pocket Gk By Khan Sir" src="https://rukminim2.flixcart.com/image/612/612/xif0q/regionalbooks/j/g/b/pocket-gk-by-khan-sir-rbd-publication-pocket-gk-khan-sir-pocket-original-imah4qjszgxngszc.jpeg?q=70">
      <br>
      <br>
      <span>Pocket Gk Samanya Gyan - Pocket Gk By Khan Sir</span>
      <p>Paperback, Hindi, KHAN SIR</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹235</p>
        <p class="original-price">349</p>
        <p class="discount">32% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>

    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="KHADEEJA" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/f/z/m/khadeeja-original-imah9gy83aadgshz.jpeg?q=70">
      <br>
      <span>KHADEEJA</span>
      <p>Paperback, NASEEF KALAYATH</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹175</p>
        <p class="original-price">₹649</p>
        <p class="discount">15% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>

    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="BlackBook of English Vocabulary" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/9/q/j/blackbook-of-english-vocabulary-original-imah8754bw9e5kah.jpeg?q=70">
      <span>BlackBook of English Vocabulary</span>
      <p>English, Paperback, Agarwal Srishti</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹626</p>
        <p class="original-price">₹880</p>
        <p class="discount">28% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>

    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="Arihant Pathfinder NDA/NA Entrance Exam With Study Guide | 8000+ MCQs | PYQs | Mathematics, General Ability, English, Science | Quick problem-solving | for Exam 2025" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/p/i/w/arihant-pathfinder-nda-na-entrance-exam-with-study-notes-8000-original-imah82jgahx4zrku.jpeg?q=70">
      <span>Arihant Pathfinder NDA/NA Entrance Exam With Study Guid...</span>
      <p>English, Paperback, Agarwal Srishti</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹426</p>
        <p class="original-price">₹495</p>
        <p class="discount">14% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>

    <div class="electronics-item">
      <img loading="eager" class="DByuf4" alt="BPSC TRE 4.0 | Bihar Shikshak Bharti Pariksha | Samanya Adhyayan | Danish Sir | Hindi Edition | Invincible  - Teaching Pariksha" src="https://rukminim2.flixcart.com/image/612/612/xif0q/book/q/6/q/bpsc-tre-4-0-bihar-shikshak-bharti-pariksha-samanya-adhyayan-original-imahb99hj5ahx5yy.jpeg?q=70">
      <span>BPSC TRE 4.0 | Bihar Shikshak Bharti Pariksha | Samanya...</span>
      <p>Paperback, Danish Sir</p>
      <div class="Fashion-pricing">
        <p class="current-price">₹199</p>
        <p class="original-price">₹300</p>
        <p class="discount">60% Off</p>
        <p class="delivery">Free Delivery</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

