@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0px;
  padding: 0px;
   font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body,html{
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 41, 81);
  padding: 20px;
}
.navbara2 {
  display: flex;
}
.navbar .navbara2 div a {
  text-decoration: none;
  margin: 10px;
  color: white;
}
.navbar article div img {
  width: 200px;
}
.navbar article div button {
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background: #2a7b9b;
  background: linear-gradient(
    198deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 51%,
    rgba(237, 221, 83, 1) 100%
  );
  border: none;
  font-size: 16px;
}

.hero{
    text-align: center;
    /* background-image: url(https://t3.ftcdn.net/jpg/08/19/63/62/360_F_819636263_By4Yh4LWNcJCHYBu7EbLxbw3BjXENyHt.jpg); */
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .herodiv{
    font-size: 40px;
    font-weight: 800;
    color: rgb(104, 99, 99);
}
.hero .herodiv1{
    font-size: 64px;
    font-weight: 800;
    color: rgb(56, 48, 48);
}
.po{
  /* width: 200px;
  height: 200px;
  background-color: #2a7b9b;
  position: absolute;
  top: 100px; */
  /* left: 100px; */
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 100dvh;
  border: 2px solid black;
  overflow: hidden;

}


/* grid */

.product div{
  width: 200px;
  height: 300px;
  background-color: aqua;
  margin: 90px;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 10px rgb(104, 99, 99);
}
.product article:hover{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.product .product1 div img{
  width: 200px;
  border-radius: 50%;
  background-color: aqua;
}
.product .product1 div .producta1s1{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: bisque;
}
