<app-navbar></app-navbar>
<div class="full-banner">
  <img
    class="_4qMbau CwNMnK"
    alt="V"
    srcset="
      https://rukminim2.flixcart.com/flap/3600/3600/image/ac8d0c0d6febd89d.jpg?q=80 2x,
      https://rukminim2.flixcart.com/flap/1800/1800/image/ac8d0c0d6febd89d.jpg?q=80 1x
    "
    src="https://rukminim2.flixcart.com/flap/1800/1800/image/ac8d0c0d6febd89d.jpg?q=80"
  />
</div>

<div class="electronics-section">
  <div class="container">
    <h2 class="laptop-heading">Mobile Accessories</h2>
  </div>

  <div class="laptop-items">
    <div class="electronics-item">
      <img
        loading="eager"
        class="DByuf4"
        alt="Mobile phone Lens (Grab it!)"
        src="https://rukminim2.flixcart.com/image/150/150/k547l3k0/mobile-phone-lens/z/3/c/20x-hd-optical-zoom-mobile-telescope-drumstone-original-imafjwcsqyv2hrvh.jpeg?q=70"
        srcset="
          https://rukminim2.flixcart.com/image/300/300/k547l3k0/mobile-phone-lens/z/3/c/20x-hd-optical-zoom-mobile-telescope-drumstone-original-imafjwcsqyv2hrvh.jpeg?q=70 2x,
          https://rukminim2.flixcart.com/image/150/150/k547l3k0/mobile-phone-lens/z/3/c/20x-hd-optical-zoom-mobile-telescope-drumstone-original-imafjwcsqyv2hrvh.jpeg?q=70 1x
        "
      />
      <span>Mobile phone Lens</span>
      <p>Grab it!</p>
      <p>Explore your photography skill</p>
    </div>
    <div class="electronics-item">
      <img
        loading="eager"
        class="DByuf4"
        alt="Oye Stuff Phone Wallet Silicone Adhesive Card Holder Dark Blue Mobile Holder"
        src="https://rukminim2.flixcart.com/image/150/150/jtyouq80/mobile-holder/z/h/f/phone-wallet-silicone-adhesive-card-holder-dark-blue-oye-stuff-original-imaff72yj3qugtbq.jpeg?q=70"
        srcset="
          https://rukminim2.flixcart.com/image/300/300/jtyouq80/mobile-holder/z/h/f/phone-wallet-silicone-adhesive-card-holder-dark-blue-oye-stuff-original-imaff72yj3qugtbq.jpeg?q=70 2x,
          https://rukminim2.flixcart.com/image/150/150/jtyouq80/mobile-holder/z/h/f/phone-wallet-silicone-adhesive-card-holder-dark-blue-oye-stuff-original-imaff72yj3qugtbq.jpeg?q=70 1x
        "
      />
      <span>Mobile Holders</span>
      <p>Protect your Acc</p>
      <p>Keep Your Essentials Handy!!</p>
    </div>
    <div class="electronics-item">
      <img
        loading="eager"
        class="DByuf4"
        alt="Selfie Sticks (Click picture anywhr)"
        src="https://rukminim2.flixcart.com/image/150/150/xif0q/selfie-stick/m/q/x/700-selfie-stick-extendable-selfie-stick-with-led-fill-light-original-imah4j5nzf3djafq.jpeg?q=70"
        srcset="
          https://rukminim2.flixcart.com/image/300/300/xif0q/selfie-stick/m/q/x/700-selfie-stick-extendable-selfie-stick-with-led-fill-light-original-imah4j5nzf3djafq.jpeg?q=70 2x,
          https://rukminim2.flixcart.com/image/150/150/xif0q/selfie-stick/m/q/x/700-selfie-stick-extendable-selfie-stick-with-led-fill-light-original-imah4j5nzf3djafq.jpeg?q=70 1x
        "
      />
      <br>
      <span>Selfie Sticks</span>
      <p>Click picture anywhr</p>
      <p>By Philips, Voltaa & more</p>
    </div>
    <div class="electronics-item">
      <img
        loading="eager"
        class="DByuf4"
        alt="Mobile Chargers (From ₹99)"
        src="https://rukminim2.flixcart.com/image/150/150/xif0q/battery-charger/4/l/q/80w-adaptor-bis-certified-with-type-c-cable-charging-adapter-all-original-imah6quezbmenbcx.jpeg?q=70"
        srcset="
          https://rukminim2.flixcart.com/image/300/300/xif0q/battery-charger/4/l/q/80w-adaptor-bis-certified-with-type-c-cable-charging-adapter-all-original-imah6quezbmenbcx.jpeg?q=70 2x,
          https://rukminim2.flixcart.com/image/150/150/xif0q/battery-charger/4/l/q/80w-adaptor-bis-certified-with-type-c-cable-charging-adapter-all-original-imah6quezbmenbcx.jpeg?q=70 1x
        "
      />
      <br><br>
      <span>Mobile Chargers</span>
      <p>From ₹99</p>
      <p>By top brands</p>
    </div>
    <div class="electronics-item">
      <img
        loading="eager"
        class="DByuf4"
        alt="boAt Micro USB 100 1 m Micro USB Cable"
        src="https://rukminim2.flixcart.com/image/150/150/jt8yxe80/data-cable/micro-usb-cable/u/y/2/boat-micro-usb-100-original-imafem42xhngwj7z.jpeg?q=70"
        srcset="
          https://rukminim2.flixcart.com/image/300/300/jt8yxe80/data-cable/micro-usb-cable/u/y/2/boat-micro-usb-100-original-imafem42xhngwj7z.jpeg?q=70 2x,
          https://rukminim2.flixcart.com/image/150/150/jt8yxe80/data-cable/micro-usb-cable/u/y/2/boat-micro-usb-100-original-imafem42xhngwj7z.jpeg?q=70 1x
        "
      />
      <span>Mobile Cables</span>
      <p>From ₹99</p>
      <p>By top Brands</p>
    </div>
    <div class="electronics-item">
      <img
        loading="eager"
        class="DByuf4"
        alt="webster LED Selfie Ring Light Ring Flash"
        src="https://rukminim2.flixcart.com/image/150/150/k3ncakw0/flash/ring-flash/x/s/z/webster-led-selfie-ring-light-original-imafmj273p7tudcv.jpeg?q=70"
        srcset="
          https://rukminim2.flixcart.com/image/300/300/k3ncakw0/flash/ring-flash/x/s/z/webster-led-selfie-ring-light-original-imafmj273p7tudcv.jpeg?q=70 2x,
          https://rukminim2.flixcart.com/image/150/150/k3ncakw0/flash/ring-flash/x/s/z/webster-led-selfie-ring-light-original-imafmj273p7tudcv.jpeg?q=70 1x
        "
      />
      <span>Mobile Flash</span>
      <p>Light up your picture</p>
      <p>Light up your Selfies!</p>
    </div>
  </div>
</div>
<div class="sbanner">
  <img class="_4qMbau CwNMnK" alt="adsd" srcset="https://rukminim2.flixcart.com/fk-p-flap/3600/3600/image/327b4bf7a7bcd06c.jpg?q=80 2x, https://rukminim2.flixcart.com/fk-p-flap/1800/1800/image/327b4bf7a7bcd06c.jpg?q=80 1x" src="https://rukminim2.flixcart.com/fk-p-flap/1800/1800/image/327b4bf7a7bcd06c.jpg?q=80" data-tkid="M_24d299b4-00d0-4225-8839-a2e8f874ecaa_1.1OM6902AV90J">
</div>

<!-- <div class="onethreesection">
  <div>
    <h2>Easy & smart EMI</h2>
  </div>
  <div class="main-item">
   <img class="_4qMbau CwNMnK" alt="wash" srcset="https://rukminim2.flixcart.com/fk-p-flap/960/960/image/073d035e782378f9.jpg?q=50 2x, https://rukminim2.flixcart.com/fk-p-flap/480/480/image/073d035e782378f9.jpg?q=50 1x" src="https://rukminim2.flixcart.com/fk-p-flap/480/480/image/073d035e782378f9.jpg?q=50">
  </div>
  <div class="side-items">
    <div class="side-item">
      <<img class="_4qMbau CwNMnK" alt="WAP" srcset="https://rukminim2.flixcart.com/fk-p-flap/960/960/image/83604aa3d83a9565.jpg?q=50 2x, https://rukminim2.flixcart.com/fk-p-flap/480/480/image/83604aa3d83a9565.jpg?q=50 1x" src="https://rukminim2.flixcart.com/fk-p-flap/480/480/image/83604aa3d83a9565.jpg?q=50">
    </div>
    <div class="side-item">
      <img class="_4qMbau CwNMnK" alt="wash" srcset="https://rukminim2.flixcart.com/fk-p-flap/960/960/image/2263e6059a843e13.jpg?q=50 2x, https://rukminim2.flixcart.com/fk-p-flap/480/480/image/2263e6059a843e13.jpg?q=50 1x" src="https://rukminim2.flixcart.com/fk-p-flap/480/480/image/2263e6059a843e13.jpg?q=50">
    </div>
  </div>
</div> -->



<h2>Easy & smart EMI</h2>
<div class="mobile-grid">
    <img class="_4qMbau CwNMnK" alt="wash" src="https://rukminim2.flixcart.com/fk-p-flap/480/480/image/073d035e782378f9.jpg?q=50">
    <img class="_4qMbau CwNMnK" alt="WAP" src="https://rukminim2.flixcart.com/fk-p-flap/480/480/image/83604aa3d83a9565.jpg?q=50">
    <img class="_4qMbau CwNMnK" alt="wash" src="https://rukminim2.flixcart.com/fk-p-flap/480/480/image/2263e6059a843e13.jpg?q=50">
  </div>
<app-footer></app-footer>