<div>
    <h2>Custom Pipes</h2>
    <h5>Gender Pipe</h5>
    <p>
       Gender : {{firstName | gender:getGender()}} 
    </p>
    <button (click)="handleClick()" class="btn">Change Name</button>
</div>
<!-- <div>
    <h5> Reverse Pipe</h5>
    <p>
        Reverse : {{firstName | reverse}}
    </p>
</div>

<div>
    <h5>VoteEligiblity Pipe</h5>
    <p>
        Eligiblity :{{Age | voteEligiblity}}
    </p>
</div>

<div>
    <h5>CountCharacter Pipe</h5>
    <p>The letter "a" appears {{ firstName | countCharacter:'a' }} times.</p>
</div>   

<div>
    <h5>Sorting Pipe</h5>
    <p>
        Sort :{{fruits | sort}}   
    </p>
</div>

<div>
    <h5>Status Pipe</h5>
    <p>
        Status :{{userStatus | status}}
    </p>
</div> -->
