<div class="container">
    <div class="login-form">
        <form action="">
            <dl>
                <dt>Username</dt>
                <dd><input type="text" class="form-control"></dd>
                <dt>Password</dt>
                <dd><input type="password" class="form-control"></dd>
                <dt>Verify Code <button class="btn btn-primary" (click)="newCode()">
                    <span class="bi bi-arrow-clockwise"></span>
                </button></dt>
                <dd>{{code}}</dd>
            </dl>
        </form>
    </div>
</div>
