<app-navbar></app-navbar>
<div class="fashion-section">
  <div class="fashion-items">
    <div class="fashion-item">
      <img
        class="_53J4C-"
        alt=""
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/h/g/b/xxl-ausk0575-0576-ausk-original-imahax5c4grep6ap.jpeg?q=70"
      />
      <span>AUSK</span>
      <p>Men Striped Polo Neck Cotton Blend Dark Blue, Light Blu...</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">77% off</p>
      </div>
    </div>
    <div class="fashion-item">
      <img
        class="_53J4C-"
        alt=""
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/d/c/h/m-ausk0579-ausk-original-imah2y4ez85ezegq.jpeg?q=70"
      />
      <span>AUSK</span>
      <p>Men Checkered Polo Neck Cotton Blend Maroon, White T-Sh...</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">82% off</p>
      </div>
    </div>
    <div class="fashion-item">
      <img
        class="_53J4C-"
        alt=""
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/shirt/f/x/u/m-beige-chex-shirt-formal-vellosta-original-imahap5cz32bhsja.jpeg?q=70"
      />
      <span>VELLOSTA</span>
      <p>Men Regular Fit Checkered Spread Collar Casual Shirt</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">74% off</p>
      </div>
    </div>
    <div class="fashion-item">
      <img
        class="_53J4C-"
        alt=""
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/c/j/m/xxl-line-polob-m8-w-fashion-and-youth-original-imahbjc8ehtkbb8s.jpeg?q=70"
      />
      <span>fashion & youth</span>
      <p>Men Solid Polo Neck Cotton Blend White T-Shirt</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">76% off</p>
      </div>
    </div>
    <div class="fashion-item">
      <img
        class="_53J4C-"
        alt=""
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/shirt/f/w/s/l-satin11-deemoon-original-imah7ecyfgaqhegr.jpeg?q=70"
      />
      <span>VELLOSTA</span>
      <p>Men Checkered Polo Neck Cotton Blend Maroon, White T-Sh...</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">77% off</p>
      </div>
    </div>
    <div class="fashion-item">
      <img
        class="_53J4C-"
        alt=""
        src="https://rukminim2.flixcart.com/image/612/612/xif0q/shirt/c/u/9/s-white-chex-shirt-formal-vellosta-original-imahap5cphq49vuh.jpeg?q=70"
      />
      <span>VELLOSTA</span>
      <p>Men Checkered Polo Neck Cotton Blend Maroon, White T-Sh...</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">77% off</p>
      </div>
    </div>

    <div class="fashion-item">
      <img class="_53J4C-" alt="" src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/x/y/p/xxl-tpgrblhn-d145-tripr-original-imah3vgf52grhsf6.jpeg?q=70">
      <span>TRIPR</span>
      <p>Men Solid Mandarin Collar Cotton Blend Dark Green T-Shi...</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹253</p>
        <p class="original-price">₹1,999</p>
        <p class="discount">87% off</p>
      </div>
    </div>

    <div class="fashion-item">
      <img class="_53J4C-" alt="" src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/9/p/n/l-men-temu-polo-001-rizim-original-imahbdjcyxfqzwtm.jpeg?q=70">
      <span>RIZIM</span>
      <p>Men Geometric Print Polo Neck Pure Cotton Black T-Shirt</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹313</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">79% off</p>
      </div>
    </div>

    <div class="fashion-item">
      <img class="_53J4C-" alt="" src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/5/2/r/l-ausk0715-ausk-original-imahbq3wgfaserwd.jpeg?q=70">
      <span>Varidashi</span>
      <p>Men Regular Fit Printed Spread Collar Casual Shirt</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹304</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">79% off</p>
      </div>
    </div>

    <div class="fashion-item">
      <img class="_53J4C-" alt="" src="https://rukminim2.flixcart.com/image/612/612/xif0q/shirt/n/g/t/s-stylish-printed-glmaorous-mans-shirt-varidashi-original-imahcfznhsuaeezr.jpeg?q=70">
      <span>Varidashi</span>
      <p>Men Regular Fit Printed Spread Collar Casual Shirt</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹304</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">79% off</p>
      </div>
    </div>

    <div class="fashion-item">
      <img class="_53J4C-" alt="" src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/o/p/a/s-tblhn-dp4-d144-tripr-original-imahcyvwpgbqhmpx.jpeg?q=70">
      <span>AUSK</span>
      <p>Men Striped Polo Neck Cotton Blend Dark Blue, Light Blu...</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹330</p>
        <p class="original-price">₹1,499</p>
        <p class="discount">77% off</p>
      </div>
    </div>

    <div class="fashion-item">
      <img class="_53J4C-" alt="" src="https://rukminim2.flixcart.com/image/612/612/xif0q/t-shirt/4/0/x/m-ts85-vebnor-original-imah9hsg2dbgq7wp.jpeg?q=70">
      <span>Vebnor</span>
      <p>Men Solid Round Neck Polyester Light Green T-Shirt</p>
      <div class="assured">
        <img
          src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png"
          alt=""
        />
      </div>
      <div class="Fashion-pricing">
        <p class="current-price">₹257</p>
        <p class="original-price">₹999</p>
        <p class="discount">74% off</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>