<app-navbar></app-navbar>
<div class="banner">
  <img
    alt="2"
    src="https://m.media-amazon.com/images/G/31/img24/Beauty/BAU/Unrec/Headers/PC/BXGY_pc._SX3000_QL85_FMpng_.png"
    class="a-dynamic-image sl-sobe-carousel-sub-card-img"
    data-a-dynamic-image='{"https://m.media-amazon.com/images/G/31/img24/Beauty/BAU/Unrec/Headers/PC/BXGY_pc._SX3000_QL85_FMpng_.png":[600,3000]}'
    style="max-width: 100%; max-height: 100%"
  />
</div>
<div class="banner1">
  <img
    src="https://images-static.nykaa.com/uploads/ff4811f1-0fea-4146-9405-2ee3e055a01b.jpg?tr=cm-pad_resize,w-1200"
    alt="Bank_strip_HSBC"
    loading="eager"
    srcset="
      https://images-static.nykaa.com/uploads/ff4811f1-0fea-4146-9405-2ee3e055a01b.jpg?tr=cm-pad_resize,w-1200 1x,
      https://images-static.nykaa.com/uploads/ff4811f1-0fea-4146-9405-2ee3e055a01b.jpg?tr=cm-pad_resize,w-1800 1.5x
    "
  />
</div>
<div class="banner3">
  <img src="https://images-static.nykaa.com/uploads/12b5a343-41d4-48f6-8b27-ee53f5a8454e.jpg?tr=cm-pad_resize,w-1200" alt="Wellness-Strip" loading="eager" srcset="https://images-static.nykaa.com/uploads/12b5a343-41d4-48f6-8b27-ee53f5a8454e.jpg?tr=cm-pad_resize,w-1200 1x, https://images-static.nykaa.com/uploads/12b5a343-41d4-48f6-8b27-ee53f5a8454e.jpg?tr=cm-pad_resize,w-1800 1.5x">
</div>

<div class="electronics-section">
    <h2>All Products</h2>

  <div class="laptop-items">
    <div class="electronics-item">
      <img
        src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/8/d/8d1d32e8901030753794_01.jpg"
        alt="Lakme Absolute Perfect Radiance Skin Brightening Day Creme"
        class="css-11gn9r6"
      />
      <span>Lakme Absolute Perfect Radiance Skin Brightening Day Creme</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹279</p>
        <p class="original-price">₹399</p>
        <p class="discount">30% Off</p>
      </div>
    </div>
    <div class="electronics-item">
      <img
        src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/2/a/2aa71cbNYCETA0000010_1.jpg"
        alt="Cetaphil Gentle Skin Cleanser"
        class="css-11gn9r6"
      />
      <span>Cetaphil Gentle Skin Cleanser</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹365</p>
        <p class="original-price">₹429</p>
        <p class="discount">15% Off</p>
      </div>
    </div>
    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/0/9/09ff34b8904245704261_1.png" alt="Nykaa Matte To Last ! Transferproof Liquid Lipstick" class="css-11gn9r6">
      <span>Nykaa Matte To Last ! Transferproof Liquid Lipstick</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹338</p>
        <p class="original-price">₹675</p>
        <p class="discount">50% Off</p>
      </div>
    </div>
    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/4/7/47c1c186902395677383_1.jpg" alt="Maybelline New York Instant Age Rewind Eraser Dark Circles Treatment Concealer" class="css-11gn9r6">
      <span>Maybelline New York Instant Age Rewind Eraser Dark Circles T...</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹449</p>
        <p class="original-price">₹749</p>
        <p class="discount">40% Off</p>
      </div>
    </div>
    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/9/4/940d7bc8901526401611_1.jpg" alt="L'Oreal Professionnel Vitamino Color Mask for for Color Protection With Resveratrol" class="css-11gn9r6">
      <span>L'Oreal Professionnel Vitamino Color Mask for for Color Prot...</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹649</p>
        <p class="original-price">₹990</p>
        <p class="discount">40% Off</p>
      </div>
    </div>
    <!-- section two -->
    <div class="laptop-items">
    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/c/6/c673ebcNYKAC00001235.jpg" alt="Nykaa Cosmetics Nail Enamel - Base BFF 373" class="css-11gn9r6">
      <span>Nykaa Cosmetics Nail Enamel - Base BFF 373</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹95</p>
        <p class="original-price">₹119</p>
        <p class="discount">20% Off</p>
      </div>
    </div>

    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/2/c/2cccaa58904417306231_1.jpg" alt="The Derma Co 1% Hyaluronic Sunscreen Spf 50 Pa+++ Aqua Gel For Normal To Oily Skin" class="css-11gn9r6">
      <span>The Derma Co 1% Hyaluronic Sunscreen Spf 50 Pa+++ Aqua Gel F...</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹552</p>
        <p class="original-price">₹649</p>
        <p class="discount">15% Off</p>
      </div>
    </div>

    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/5/b53b39aLOVEB00000157_1.jpg" alt="Love Beauty &amp; Planet Bye Bye Frizz Combo ( Shampoo + Mask)" class="css-11gn9r6">
      <span>Love Beauty & Planet Bye Bye Frizz Combo ( Shampoo + Mask)</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹737</p>
        <p class="original-price">₹1340</p>
        <p class="discount">45% Off</p>
      </div>
    </div>

    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/b/bbe1986DOTKE00000054_1a.jpg" alt="Dot &amp; Key Vitamin C + E Super Bright Face Moisturizer For Glowing Skin, Fades Dark Spots" class="css-11gn9r6">
      <span>Dot & Key Vitamin C + E Super Bright Face Moisturizer For Gl...</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹426</p>
        <p class="original-price">₹495</p>
        <p class="discount">14% Off</p>
      </div>
    </div>

    <div class="electronics-item">
      <img src="https://images-static.nykaa.com/media/catalog/product/tr:w-220,h-220,cm-pad_resize/b/5/b5eeffcVASEL00000056-new1_1.jpg" alt="Vaseline Gluta-Hya Dewy Radiance Lotion Bright, Glowing Skin Glutathione Infused Moisturizer" class="css-11gn9r6">
      <span>Vaseline Gluta-Hya Dewy Radiance Lotion Bright, Glowing Skin...</span>
      <div class="Fashion-pricing">
        <p class="current-price">₹263</p>
        <p class="original-price">₹350</p>
        <p class="discount">25% Off</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
