<nav class="navbar">
  <div class="navbar-left">Welcome, {{ csrName }}</div>
  <div class="navbar-right">
    <button (click)="logout()">Logout</button>
  </div>
</nav>

<h2 class="heading">📥 Assigned Tickets</h2>

<ul *ngIf="tickets.length; else noTickets" class="ticket-list">
  <li *ngFor="let t of tickets" class="ticket-item">
    <div class="ticket-info">
        <p><strong>Customer:</strong> {{ t.customerName }}</p>
      <h3>{{ t.title }}</h3>
      <p>{{ t.description }}</p>
      <div class="meta">
        <span>Status: {{ t.status }}</span>&nbsp;&nbsp;
        <span>Priority: {{ t.priority }}</span>
      </div>

      <select [(ngModel)]="t.status" class="status-dropdown" [disabled]="t.status === 'RESOLVED'">
        <option value="OPEN">OPEN</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="PENDING">PENDING</option>
        <option value="RESOLVED">RESOLVED</option>
      </select>

      <button (click)="updateStatus(t.id, t.status)" [disabled]="t.status === 'RESOLVED'">Update Status</button>
    </div>
  </li>
</ul>

<ng-template #noTickets>
  <p>No tickets assigned.</p>
</ng-template>
