.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0066cc;
  color: white;
  padding: 10px;
  font-weight: bold;
}
.heading {
  text-align: center;
  margin: 20px;
}
.navbar-left{
  margin: 10px;
}
.navbar-right{
  margin: -5px;
}
.ticket-list {
  list-style: none;
  padding: 0;
}
.ticket-item {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
.ticket-info {
  display: flex;
  flex-direction: column;
}
.ticket-info h3 {
  margin-bottom: 5px;
}
.ticket-info .meta {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}
select {
  margin-top: 10px;
  padding: 5px;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
}
select.status-dropdown {
  font-size: 0.8rem;
  padding: 3px 6px;
  width: fit-content;
  max-width: 150px;
}
