<div class="container mt-4">
    <div *ngFor="let element of course">
        <ul>
            <li>{{element}}</li>
        </ul>
    </div>
</div>

<div>
    <select name="" id="">
        <option *ngFor="let element of course" value="">{{element}}</option>
    </select>
</div>

<div>
    <h3>Attribute Example</h3>
    <p [ngClass]="{'active':isActive,'error':isError}">
        Hello
    </p>
    <h2>[class.class-name]Example</h2>
    <p [class.active]="isActive" [class.error]="isError">
        this one use [class] 
    </p>
    <button (click)="isActive = !isActive">Active</button>
    <button (click)="isError = !isError">Error</button>

</div>
