<div class="container">
  <!-- <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>IMAGE</th>
        </tr>
        <tr *ngFor="let item of products">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td><img [src]="item.image" height="50" width="50" alt=""></td>
        </tr>
    </table> -->
  <h2>Find Product by ID</h2>
  <form (ngSubmit)="getProductById()">
    <input
      type="number"
      [(ngModel)]="id"
      name="id"
      placeholder="Enter Product ID"
      required
    />
    <button type="submit">Search</button>
  </form>
  <table class="table table-hover">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>IMAGE</th>
    </tr>
    <tr *ngFor="let item of products">
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td><img [src]="item.image" height="70" width="70" alt="" /></td>
    </tr>
  </table>
</div>
