<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Prevoius</th>
                <th>Index</th>
                <th>Even</th>
                <th>Odd</th>
                <th>First</th>
                <th>Last</th>
            </tr>
        </thead>
        <tBody>
            <tr *ngFor="let item of product;let i = index;let e = even;let o = odd;let f = first;let l = last;">
                <td [class.odd]="o" [class.even]="e">
                    <img [src]="item.image" height="300" width="250" alt="">
                </td>
                <td>{{i}}</td>
                <td>{{e}}</td>
                <td>{{o}}</td>
                <td>{{f}}</td>
                <td>{{l}}</td>
            </tr>
        </tBody>
    </table>
    <div class="row mt-4">
        <h2>EVENT BINDING</h2>
        <button id="btnHello" (click)="hello($event)" class="btn btn-primary">Hello</button>
        <button id="btnWelcome" (click)="hello($event)" class="btn btn-primary">Welcome</button>
    </div>
</div>
